*#*
*.egg-info
*.pyc
*.pyo
*~
.DS_Store
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.settings
.tox/
bin
coverage
develop-eggs
devsrc
dist
docs/Makefile
docs/make.bat
downloads
eggs
include/
lib/
local/
parts
src/packages
var
.coverage
.Python
coverage.xml
pip-selfcheck.json
flake8/
htmlcov/
